/* work.css */

/* HERO 영역 */
.projects-hero {
  background: #000;
  width: 100%;
  padding: clamp(60px, 12vw, 120px) 0;
}

/* 내부 레이아웃 */
.projects-hero-inner {
  display: grid;
  grid-template-columns: clamp(96px, 20vw, 160px) 1fr;
  column-gap: clamp(24px, 6vw, 100px);
  align-items: start;
}

@media (max-width: 768px) {
  .projects-hero-inner {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}

/* 기간 */
.projects-period {
  color: white;
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
  margin-top: 12px;
}

/* 필터 타이틀 */
.projects-filter {
  display: flex;
  flex-direction: column;
  font-size: clamp(56px, 8vw, 96px);
  line-height: 1.05;
  font-weight: 700;
}

/* 기본 탭 */
.projects-filter .tab {
  color: #5a5a5a;
  text-decoration: none;     
  transition: color 0.25s ease;
}

/* 활성 탭 */
.projects-filter .tab.active {
  color: #BAFF41;
}



/* 회사 영역 */

/* 리스트 기본 */
.projects-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects-list li {
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

/* 마지막 줄 선 제거 */
.projects-list li:last-child {
  border-bottom: none;
}

.projects-list a {
  display: grid;
  grid-template-columns: 1fr 360px 24px;
  align-items: center;

  padding: 48px 0;
  text-decoration: none;
  color: #000;
}

/* 회사명 */
.company {
  font-size: clamp(26px, 3vw, 32px);
  font-weight: 700;
}

/* 오른쪽 정보 묶음 */
.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.meta {
  font-size: clamp(12px, 1vw, 14px);
  color: #666;
}

.role {
  font-size: clamp(20px, 1.4vw, 18px);
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* + */
.plus {
  font-size: clamp(50px, 2vw, 28px);
  font-weight: 300;
  text-align: right;
}

/* 모바일 */
@media (max-width: 768px) {
  .projects-list li a {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "company plus"
      "meta meta"
      "role role";

    row-gap: 8px;
  }

  .projects-list a {
    padding: 32px 0; /* 모바일 */
  }

  .company { grid-area: company; }
  .plus    { grid-area: plus; }
  .meta    { grid-area: meta; }
  .role    { grid-area: role; }
}
